@use "sass:math";
// 色
$white: #fff;
$black: #333;
$black02:#000000 ;
$navy:#011950 ;
$navy02:#001E63 ;
$navy03:#001135 ;
$navy04:#061944 ;
$gray:#ECECF4 ;
$tag-bg:#F3F3F3 ;
$tag-text:#626262 ;
$bg:#F8F8F8 ;
$black03:#242424 ;
