@use "sass:math";
// 文字フォントの種類
$base-font: "Noto Sans JP", sans-serif;
$second-font: "Oswald", sans-serif;
$third-font: "Roboto", sans-serif;


// 文字の太さ
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;
